Jinja2==2.7.3
MarkupSafe==0.23
astroid==1.3.4
autopep8==1.1.1
avro==1.7.7
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
gensim==0.10.3
gnureadline==6.3.3
ipython==2.4.0
logilab-common==0.63.2
matplotlib==1.4.2
mock==1.0.1
nltk==3.0.1
nose==1.3.4
numpy==1.9.1
pandas==0.15.2
pep8==1.6.2
pylint==1.4.1
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
pyzmq==14.5.0
scikit-learn==0.15.2
scipy==0.15.1
six==1.9.0
tornado==4.0.2
wsgiref==0.1.2
